<div class="ui show button" {{action 'show'}}><i class="plus icon"></i></div>
<div class="ui hide button" {{action 'hide'}}><i class="minus icon"></i></div>

<div class="ui segment">
  <!-- Dimmer Generated Automatically No Need to Include !-->
  <h3 class="ui header">
    Overlayable Section
  </h3>
  <div class="ui small images">
    <img class="ui wireframe image" src="http://semantic-ui.com/images/wireframe/image.png">
    <img class="ui wireframe image" src="http://semantic-ui.com/images/wireframe/image.png">
    <img class="ui wireframe image" src="http://semantic-ui.com/images/wireframe/image.png">
  </div>
  <img class="ui medium wireframe image" src="http://semantic-ui.com/images/wireframe/media-paragraph.png">
</div>
