<i class="close icon"></i>
<div class="header">
  Archive Old Messages
</div>
<div class="image content">
  <div class="image">
    <i class="archive icon"></i>
  </div>
  <div class="description">
    <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
  </div>
</div>
<div class="actions">
  <div class="two fluid ui inverted buttons">
    <div class="ui red basic inverted button" {{action 'no'}}>
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green basic inverted button" {{action 'yes'}}>
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
