<h4 class="ui header">
  Checkbox
  <div class="sub header">A standard checkbox</div>
</h4>

<pre>
  \{{ui-checkbox label="Make my profile visible" checked=checked}}
</pre>

{{ui-checkbox label="Make my profile visible" checked=checked}}
