<h2 id='title'>Checkbox</h2>

{{!--ui-checkbox label="Make my profile visible (checked binding)" checked=checked}}

{{ui-checkbox label="Make my profile visible (onChange action)" onChange=(action 'set_checked')--}}

<h4 class="ui header">
  Radio Box
  <div class="sub header">A checkbox can be formatted as a radio element. This means it is an exclusive option.</div>
</h4>

<div class="ui form">
  <div class="grouped inline fields">
    <div class="field">
      {{ui-radio name="fruit" label="Once a week" current=fruit value="apple"}}
    </div>
    <div class="field">
      {{ui-radio name="fruit" label="2-3 times a week" current=fruit value="orange"}}
    </div>
    <div class="field">
      {{ui-radio name="fruit" label="Once a day" current=fruit value="banana"}}
    </div>
  </div>
</div>
