<h4 class="ui header">
  Dropdown
  <div class="sub header">A dropdown</div>
</h4>
<p>
  If you don't pass in an action, then the value only change locally
</p>
{{ui-dropdown content=categories prompt="Shop"}}

<hr>

<h4 class="ui header">
  Selection
  <div class="sub header">A dropdown can be used to select between choices in a form</div>
</h4>
<p>
  Pass in an action like below to be triggered.
</p>
<pre>
<code class='code javascript'>
  actions: {
    onSelect: function (colorObject) {
      this.set('color', colorObject.name);
    }
  }
</code>
</pre>


<p>
  Selected color: {{color}}
</p>



{{ui-dropdown class="selection"
  defaultBlank=true
  content=colors
  value=color
  prompt="Color"
  optionLabel="name"
  optionValue="id"
  onSelect="onSelect"
}}
