<h2 id='title'>Embed</h2>

<h3>Using data-url (with placeholder)</h3>
{{ui-embed data-url="https://www.youtube.com/embed/pfdu_gTry8E" data-placeholder="http://semantic-ui.com/images/image-16by9.png"}}

<h3>Using data-id (no placeholder)</h3>
{{ui-embed data-source="youtube" data-id="pfdu_gTry8E"}}
