<h2 id='title'>Embed</h2>

<h3>Using data-url (with placeholder)</h3>
{{ui-embed data-url="https://www.youtube.com/embed/o12-90Dm-Qs" data-placeholder="http://semantic-ui.com/images/image-16by9.png"}}

<h3>Using parameters directly</h3>
{{ui-embed source="youtube" id="1YLT-ZlPH-0"}}
