<h2 id='title'>Nag</h2>

<div class="ui button" {{action 'clear'}}>
  Clear
</div>

{{#ui-nag class="inline cookie"}}
  <span class="title">
    We use cookies to ensure you get the best experience on our website
  </span>
  <i class="close icon"></i>
{{/ui-nag}}
