<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Progress

        <div class="sub header">
          A progress bar shows the progression of a task
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <p>
        To view Semantic UI's documentation click on the buttons links below
      </p>

      <div class="ui three item stackable tabs menu">
        <a class="item" href="http://semantic-ui.com/modules/progress.html" target="_blank">Definition</a>
        {{!-- <a class="item" href="http://semantic-ui.com/modules/progress.html#/examples" target="_blank">Examples</a> --}}
        <a class="item" href="http://semantic-ui.com/modules/progress.html#/usage" target="_blank">Usage</a>
        <a class="item" href="http://semantic-ui.com/modules/progress.html#/settings" target="_blank">Settings</a>
      </div>

    </div>

  </div>
</div>

<div class="ui main container">

  <div class="ui basic segment">
    {{#ui-progress percent=progressOne class="teal indicating"}}
      <div class="bar"></div>
      <div class="label">Completed {{input value=progressOne type="range" min=0 max=100}}</div>
    {{/ui-progress}}
  </div>

  <div class="ui basic segment">
    {{#ui-progress value=progressTwo progress=progressTwo total=30}}
      <div class="bar"></div>
      <div class="label">Uploaded {{input value=progressTwo type="range" min=0 max=30}}</div>
    {{/ui-progress}}
  </div>

</div>