<h2 id='title'>Progress</h2>

<div class="ui basic segment">
  {{#ui-progress percent=40 class="teal indicating"}}
    <div class="bar"></div>
    <div class="label">Completed</div>
  {{/ui-progress}}
</div>

<div class="ui basic segment">
  {{#ui-progress value=15 total=30}}
    <div class="bar"></div>
    <div class="label">Uploaded</div>
  {{/ui-progress}}
</div>
