<h2 id='title'>Rating</h2>

<div class="ui basic segment">
  {{ui-rating initialRating=3 rating=rating maxRating=7}} - Rating {{rating}}
</div>

<div class="ui basic segment">
  {{ui-rating rating=heartRating class="heart"}} - Rating {{heartRating}}
</div>
