<h2 id='title'>Rating</h2>

<div class="ui basic segment">
  {{ui-rating
      initialRating=rating
      rating=rating
      maxRating=7
      onRate=(action (mut rating))}} - Rating {{rating}}
</div>

<div class="ui basic segment">
  {{ui-rating
      class="heart"
      rating=heartRating
      onRate=(action (mut heartRating))
      clearable=true}} - Rating {{heartRating}}
</div>
