<h2 id='title'>Sidebar</h2>

<div class="ui button" {{action 'toggle' 'main-sidebar'}}>
  Toggle Main
</div>

  <div class="ui button" {{action 'toggle' 'sub-sidebar'}}>
    Toggle Inner
  </div>
  <div class="ui pushable segment component context">
    {{#ui-sidebar class="inverted menu left inline vertical" context=".component.context" id="sub-sidebar"}}
      <a class="item">Item 1</a>
      <a class="item">Item 2</a>
      <a class="item">Item 3</a>
    {{/ui-sidebar}}
    <div class="pusher">
      <div class="ui basic segment" style="min-height: 300px;">
        Sub Content Here
      </div>
    </div>
  </div>
