<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Transition

        <div class="sub header">
          A transition is an animation usually used to move content in or out of view
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <p>
        For additional documentation on how to configure this module, please refer to the <a href="/">Getting Started</a> section and Semantic UI's module specific external documentation links below.
      </p>

      <div class="ui four item stackable tabs menu">
        <a class="item" href="http://semantic-ui.com/modules/transition.html" target="_blank">Definition</a>
        <a class="item" href="http://semantic-ui.com/modules/transition.html#/examples" target="_blank">Examples</a>
        <a class="item" href="http://semantic-ui.com/modules/transition.html#/usage" target="_blank">Usage</a>
        <a class="item" href="http://semantic-ui.com/modules/transition.html#/settings" target="_blank">Settings</a>
      </div>

    </div>

  </div>
</div>

<div class="ui main container">

  <div class="ui button" {{action 'transition'}}>
    Transition
  </div>

  <img class="ui small image" src="http://semantic-ui.com/images/avatar/large/steve.jpg">

</div>