<div class="ui vertical fluid menu">
  <div class="item">
    Modules
    <div class="menu">
      {{#link-to 'modules.accordion' class='item'}}Accordion{{/link-to}}
      {{#link-to 'modules.checkbox' class='item'}}Checkbox{{/link-to}}
    </div>
  </div>
</div>

