<div class="ui vertical fluid menu">
  <div class="item">
    Modules
    <div class="menu">
      {{#link-to 'modules.accordion' class='item'}}Accordion{{/link-to}}
      {{#link-to 'modules.checkbox' class='item'}}Checkbox{{/link-to}}
      {{#link-to 'modules.dimmer' class='item'}}Dimmer{{/link-to}}
      {{#link-to 'modules.dropdown' class='item'}}Dropdown{{/link-to}}
      {{#link-to 'modules.embed' class='item'}}Embed{{/link-to}}
      {{#link-to 'modules.modal' class='item'}}Modal{{/link-to}}
      {{#link-to 'modules.nag' class='item'}}Nag{{/link-to}}
      {{#link-to 'modules.popup' class='item'}}Popup{{/link-to}}
      {{#link-to 'modules.progress' class='item'}}Progress{{/link-to}}
      {{#link-to 'modules.rating' class='item'}}Rating{{/link-to}}
      {{#link-to 'modules.search' class='item'}}Search{{/link-to}}
      {{#link-to 'modules.shape' class='item'}}Shape{{/link-to}}
      {{#link-to 'modules.sidebar' class='item'}}Sidebar{{/link-to}}
      {{#link-to 'modules.sticky' class='item'}}Sticky{{/link-to}}
      {{#link-to 'modules.tab' class='item'}}Tab{{/link-to}}
    </div>
  </div>
</div>
