<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

{{#ui-accordion classNames="styled"}}
  <div class="title">
    Semantic UI
  </div>
  <div class="content">
    Accordion Component
  </div>
  <div class="title">
    Accordion Two
  </div>
  <div class="content">
    Content Two
  </div>
  <div class="title">
    Accordion Three
  </div>
  <div class="content">
    Content Three
  </div>
{{/ui-accordion}}