{{#ui-sidebar class="inverted vertical menu" id="main-sidebar"}}
  <a class="item">
    1
  </a>
  <a class="item">
    2
  </a>
  <a class="item">
    3
  </a>
{{/ui-sidebar}}

<div class="ui grid pusher">
  <div class="three wide column">
    {{partial "menu"}}
  </div>
  <div class="eleven wide column">
    {{outlet}}
  </div>
</div>
